html, body, div, p, ul, li, ol, dl, dt, dd, form, table, tr, td, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

html, body {
  height: 100%; }
